$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xsmall-max: ($breakpoint-small - 1) !default;
$breakpoint-small-max: ($breakpoint-medium - 1) !default;
$breakpoint-medium-max: ($breakpoint-large - 1) !default;
$breakpoint-large-max: ($breakpoint-xlarge - 1) !default;
$container-width-base: 100%;
$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;
$container-spacing: 1.5rem;
$grid-spacing: .75rem;
$grid-spacing-medium: 1rem;
$grid-spacing-large: 2rem;
$column-size-12: 100%;
$column-size-11: 91.66666667%;
$column-size-10: 83.33333333%;
$column-size-9: 75%;
$column-size-8: 66.66666667%;
$column-size-7: 58.33333333%;
$column-size-6: 50%;
$column-size-5: 41.66666667%;
$column-size-4: 33.33333333%;
$column-size-3: 25%;
$column-size-2: 16.66666667%;
$column-size-1: 8.33333333%;
$column-offset-12: $column-size-12;
$column-offset-11: $column-size-11;
$column-offset-10: $column-size-10;
$column-offset-9: $column-size-9;
$column-offset-8: $column-size-8;
$column-offset-7: $column-size-7;
$column-offset-6: $column-size-6;
$column-offset-5: $column-size-5;
$column-offset-4: $column-size-4;
$column-offset-3: $column-size-3;
$column-offset-2: $column-size-2;
$column-offset-1: $column-size-1;
$navbar-height: 50px;
$navbar-padding: 0 60px;
$navbar-space: 15px;
$section-spacing-off: 0;
$section-spacing-xs: 2.8rem 1.5rem;
$section-spacing-sm: 6.7rem 1.5rem;
$section-spacing-md: 11rem 1.5rem;
$section-spacing-lg: 14.8rem 1.5rem;
$section-spacing-xl: 18rem 1.5rem;
$section-spacing-auto: 7.4rem 1.5rem;
$section-spacing-auto-xs: 5.5rem 1.5rem;
$overlay-opacity: .75;
$overlay-color: #ffffff; 
$overlay-bg-color: rgba(0,0,0,$overlay-opacity);
$overlay-inverse-color: #424242;
$overlay-inverse-bg-color: rgba(255,255,255,$overlay-opacity);
$h1-font-size: 4rem;
$h1-font-weight: bold;
$h1-line-height: $h1-font-size + 1;
$h1-margin: 0 0 $h1-font-size/2 0;
$h2-font-size: 2.8rem;
$h2-font-weight: bold;
$h2-line-height: $h2-font-size + 1;
$h2-margin: 0 0 $h2-font-size/2 0;
$h3-font-size: 2rem;
$h3-font-weight: bold;
$h3-line-height: $h3-font-size + 1;
$h3-margin: 0 0 $h3-font-size/1.5 0;
$h4-font-size: 1.4rem;
$h4-font-weight: bold;
$h4-line-height: $h4-font-size + 1;
$h4-margin: 0 0 $h4-font-size 0;
$h5-font-size: 1rem;
$h5-font-weight: bold;
$h5-line-height: $h5-font-size + 1;
$h5-margin: 0 0 $h5-font-size 0;
$h6-font-size: .88rem;
$h6-font-weight: normal;
$h6-line-height: $h6-font-size + 1;
$h6-margin: 0 0 $h6-font-size 0;
$h6-letter-spacing: .8px;
$text-lead-font-size: 1.4rem;
$text-lead-font-weight: normal;
$text-lead-line-height: 2rem;
$text-lead-margin-bottom: $text-lead-font-size;
$text-small-size: .88rem;
$text-small-line-height: 1.2rem;
$text-small-margin-bottom: $text-small-size;
$text-large-size: 1.4rem;
$text-large-line-height: $text-large-size;
$text-large-margin-bottom: $text-large-size;
$button-padding: 1px 20px;
$button-small-padding: 0 15px;
$button-small-line-height: 30px;
$button-large-padding: 0 40px;
$button-large-line-height: 55px;
$accordion-item-margin: 20px 0 0 0;
$accordion-content-margin: 20px 0 0 0;
$animation-duration: .5s;
$animation-timing-function: ease-out;
$animation-fill-mode: both;
$badge-border-radius: 3px;
$badge-squared-border-radius: 0;
$badge-rounded-border-radius: 50px;
$badge-padding: 0px 5px;
$badge-height: 20px;
$badge-line-height: 20px;
$breadcrumb-item-padding: 0 20px;
$card-border-radius: 5px;
$card-rounded-radius: 15px;
$card-header-padding: 40px 40px;
$card-body-padding: 40px 40px;
$card-footer-padding: 20px 40px;
$card-small-header-padding: 10px 20px;
$card-small-body-padding: 20px 20px;
$card-small-footer-padding: 10px 20px;
$card-large-header-padding: 35px 70px;
$card-large-body-padding: 70px 70px;
$card-large-footer-padding: 35px 70px;
$card-footer-item-margin-left: 10px;
$card-badge-position-offsetY: 20px;
$card-badge-position-offsetX: 20px;
$comment-list-margin-top: 10px;
$comment-list-reply-padding-left: 100px;
$comment-list-reply-padding-left-md: 60px;
$comment-list-reply-padding-left-sm: 35px;
$comment-header-margin: 15px 0 0;
$comment-avatar-padding-right: 20px;
$comment-infos-margin-top: 20px;
$comment-body-margin-top: 20px;
$description-list-dd-margin: 0 0 15px 0;
$description-list-dd-padding: 0 0 15px 0;
$description-list-divider-border-bottom: 1px solid #efefef;
$dropdown-z-index: 10;
$label-border-radius: 3px;
$label-squared-border-radius: 0;
$label-rounded-border-radius: 50px;
$label-padding: 0px 5px;
$label-height: 20px;
$label-line-height: 20px;
$lightbox-z-index: 120;
$lightbox-caption-padding: 20px 0px;
$lightbox-caption-text-align: center;
$lightbox-caption-bg-color: rgba(0,0,0,.7);
$lightbox-close-btn-width: 65px;
$lightbox-close-btn-height: 50px;
$lightbox-close-btn-line-height: 56px;
$lightbox-close-btn-background: transparent;
$lightbox-close-btn-icon-font-size: 25px;
$modal-wrapper-width: 600px;
$modal-wrapper-max-width: 100%;
$modal-wrapper-margin-top: 50px;
$table-border-collapse: collapse;
$table-border-spacing: 0;
$table-border-width: 100%;
$table-border-th-vertical-align: bottom;
$table-border-td-vertical-align: top;