$global-font-family: "Open Sans", Roboto, Arial, Helvetica, sans-serif;
$text-font: $global-font-family;
$heading-font: $global-font-family;
$global-color: #555;
$muted-color: #888888;
$muted-hover: #424242;
$divider-color: #efefef;
$primary-color: #81C784;
$primary-hover: #96E096;
$secondary-color: #353535;
$secondary-hover: $muted-hover;
$warning-color: #FB8C00;
$warning-hover: #F57C00;
$danger-color: #e53935;
$danger-hover: #d32f2f;
$success-color: #43A047;
$success-hover: #388E3C;
$link-color: #1976D2;
$link-highlight-color: #2196F3;
$link-muted-color: $muted-color;
$link-muted-highlight-color: $muted-hover;
$text-meta-color: $muted-color;
$nav-item-padding: 5px 0px;
$nav-item-color: $link-muted-color;
$nav-highlight-color: $link-muted-highlight-color;
$nav-header-color: $nav-highlight-color;
$nav-header-font-weight: 500;
$nav-header-text-transform: uppercase;
$nav-divider-margin: 10px 0;
$nav-divider-width: 1px;
$nav-divider-color: $divider-color;
$subnav-item-color: $link-muted-color;
$subnav-highlight-color: $link-muted-highlight-color;
$subnav-item-padding-left: 20px;
$navbar-nav-item-color: $link-muted-color;
$navbar-nav-highlight-color: $link-muted-highlight-color;
$navbar-nav-item-padding-left: 20px;
$button-font: $heading-font;
$button-font-size: 12px;
$button-font-weight: bold;
$button-line-height: 40px;
$button-text-align: center;
$button-border-width: 1px;
$button-border: $button-border-width solid transparent;
$button-border-radius: 5px;
$btn-border: none;
$btn-bg-color: #f5f5f5;
$btn-color: $muted-hover;
$btn-hover-border: none;
$btn-hover-bg-color: #eaeaea;
$btn-hover-color: inherit;
$btn-bordered-border: 1px solid #e5e5e5;
$btn-bordered-bg-color: transparent;
$btn-bordered-color: inherit;
$btn-bordered-hover-border: 1px solid #b2b2b2;
$btn-bordered-hover-bg-color: transparent;
$btn-bordered-hover-color: inherit;
$btn-primary-border: 1px solid transparent;
$btn-primary-bg-color: $primary-color;
$btn-primary-color: #ffffff;
$btn-primary-hover-border: 1px solid transparent;
$btn-primary-hover-bg-color: $primary-hover;
$btn-primary-hover-color: #ffffff;
$btn-secondary-border: 1px solid transparent;
$btn-secondary-bg-color: $secondary-color;
$btn-secondary-color: #ffffff;
$btn-secondary-hover-border: 1px solid transparent;
$btn-secondary-hover-bg-color: $secondary-hover;
$btn-secondary-hover-color: #ffffff;
$btn-danger-border: 1px solid transparent;
$btn-danger-bg-color: #e53935;
$btn-danger-color: #ffffff;
$btn-danger-hover-border: 1px solid transparent;
$btn-danger-hover-bg-color: #d32f2f;
$btn-danger-hover-color: #ffffff;
$btn-text-color: $link-muted-color;
$btn-text-hover-color: $link-muted-highlight-color;
$btn-disabled-border: 1px solid transparent;
$btn-disabled-bg-color: #f5f5f5;
$btn-disabled-color: #999;
$list-item-padding: 5px 0px;
$list-header-color: $muted-hover;
$list-header-font-weight: 500;
$list-header-text-transform: uppercase;
$list-divider-margin: 10px 0;
$list-divider-width: 1px;
$list-divider-color: $divider-color;
$accordion-title-bg-color: #f5f5f5;
$accordion-title-color: $muted-color;
$accordion-title-hover-bg-color: #eeeeee;
$accordion-title-hover-color: $muted-color;
$accordion-title-active-bg-color: $primary-color;
$accordion-title-active-color: #ffffff;
$accordion-title-active-hover-bg-color: $primary-hover;
$accordion-title-active-hover-color: #ffffff;
$accordion-title-height: 55px;
$accordion-title-line-height: $accordion-title-height;
$accordion-title-padding: 0 25px;
$accordion-title-font: $heading-font;
$accordion-title-font-weight: 400;
$accordion-title-active-font-weight: 500;
$accordion-content-padding: 25px;
$accordion-content-border-color: #eaeaea;
$accordion-content-border: 1px solid $accordion-content-border-color;
$accordion-content-opened-border-color: #dddddd;
$accordion-content-opened-border: 1px solid $accordion-content-opened-border-color;
$accordion-text-title-font-weight: 400;
$accordion-text-title-color: $muted-color;
$accordion-text-title-hover-color: $muted-hover;
$accordion-text-title-active-font-weight: 500;
$accordion-text-title-active-color: $muted-hover;
$badge-font: $heading-font;
$badge-font-size: 12px;
$badge-font-weight: 500;
$badge-border: none;
$badge-color: $muted-hover;
$badge-bg-color: #f5f5f5;
$breadcrumb-item-color: $muted-color;
$breadcrumb-item-hover-color: $muted-hover;
$breadcrumb-item-disabled-color: #999999;
$card-bg-color: #fff;
$card-border: 1px solid #f3f3f3;
$card-header-border-bottom: 1px solid #efefef;
$card-footer-border-bottom: 1px solid #efefef;
$dropdown-padding: 25px;
$dropdown-bg-color: rgb(255, 255, 255);
$dropdown-border: 1px solid rgb(239, 239, 239);
$dropdown-nav-min-width: 180px;
$legend-font-size: 18px;
$field-font: inherit;
$field-font-size: inherit;
$field-font-weight: 400;
$field-border: 1px solid #eeeeee;
$field-border-radius: 5px;
$field-disabled-bg-color: #eeeeee;
$field-height: 40px;
$field-padding: 0 15px;
$form-success-border-color: #43A047;
$form-success-color: #43A047;
$form-danger-border-color: #E53935;
$form-danger-color: #E53935;
$select-padding: 0 20px;
$select-icon-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QoZECMyHDXnogAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAABD0lEQVQ4y+2TsUoEQQyGv4kWesUdFiLszo6dnY2I2IgPIT6BneC9mr6DNhaC2lxhd7PrITay4h3bTCxcZRj2Vh/AHwKT5E9ImD/QAedyAIoiu7A2O2/fXVQMS+BcvqPKY+vuel89/bmBc3YQQiiNMRtt6BXY9r5a9Db4GtOsAdfAfsK9BY6BxvvqJ7gSM+r6ndFoeAacAjXwEdkmMPO+uo9rVtORVLk0hisAYwyqGuU08I/fdVAU+VZfgffVS+xLB+cEmAAPiU3aXJ+QckRkPYRwA+wl3DvgCFjEQuqUsrXZQERmqjps//9NRPLptJyn3K4VKMvnuWo4ABqgETGHXcVL8X261mZja7NxfOIpPgFty1v9OHKNmwAAAABJRU5ErkJggg==');
$select-icon-bg-position: 99% 50%;
$textarea-padding: 15px;
$textarea-form-rounded-border-radius: 5px;
$form-square-border-radius: 0;
$form-rounded-border-radius: 50px;
$form-small-height: 30px;
$form-small-font-size: 14px;
$form-large-height: 55px;
$form-large-font-size: 18px;
$radio-label-padding-left: 35px;
$radio-circle-top: -1px;
$radio-circle-left: 0;
$radio-circle-width: 20px;
$radio-circle-height: 20px;
$radio-circle-bg-color: #ffffff;
$radio-circle-border: 1px solid #dddddd;
$radio-circle-border-radius: 50%;
$radio-circle-checked-top: 3px;
$radio-circle-checked-left: 4px;
$radio-circle-checked-width: 12px;
$radio-circle-checked-height: 12px;
$radio-circle-checked-color: #ffffff;
$radio-circle-checked-bg-color: $primary-color;
$radio-circle-checked-dot-bg-color: #ffffff;
$radio-circle-checked-border: none;
$radio-circle-checked-border-radius: 50%;
$radio-circle-checked-transition: all .2s;
$radio-circle-checked-font-size: 14px;
$radio-disabled-border-color: #bbbbbb;
$radio-disabled-bg-color: #dddddd;
$radio-disabled-label-color: #999999;
$radio-disabled-checked-label-color: #aaaaaa;
$checkbox-label-padding-left: 35px;
$checkbox-top: -1px;
$checkbox-left: 0;
$checkbox-width: 20px;
$checkbox-height: 20px;
$checkbox-bg-color: #ffffff;
$checkbox-border: 1px solid #dddddd;
$checkbox-border-radius: 5px;
$checkbox-bg-color: #ffffff;
$checkbox-checked-top: 3px;
$checkbox-checked-left: 5px;
$checkbox-checked-width: 12px;
$checkbox-checked-height: 12px;
$checkbox-checked-color: #ffffff;
$checkbox-checked-border: none;
$checkbox-checked-font-size: 14px;
$checkbox-checked-transition: all .2s;
$checkbox-checked-bg-color: $primary-color;
$checkbox-disabled-border-color: #bbbbbb;
$checkbox-disabled-bg-color: #dddddd;
$checkbox-disabled-label-color: #999999;
$checkbox-disabled-checked-label-color: #aaaaaa;
$iconfield-icon-top: 0;
$iconfield-icon-bottom: 0;
$iconfield-icon-left: 5px;
$iconfield-icon-width: 40px;
$iconfield-field-padding-left: 45px;
$iconfield-icon-right-right: 0;
$iconfield-icon-right-field-padding: 0 40px 0 15px;
$label-font: $heading-font;
$label-font-size: 12px;
$label-font-weight: 500;
$label-border: none;
$label-color: $muted-hover;
$label-bg-color: #f5f5f5;
$label-primary-border: none;
$label-primary-color: #ffffff;
$label-primary-bg-color: $primary-color;
$label-secondary-border: none;
$label-secondary-color: #ffffff;
$label-secondary-bg-color: $secondary-color;
$label-warning-border: none;
$label-warning-color: #ffffff;
$label-warning-bg-color: $warning-color;
$label-danger-border: none;
$label-danger-color: #ffffff;
$label-danger-bg-color: $danger-color;
$label-success-border: none;
$label-success-color: #ffffff;
$label-success-bg-color: $success-color;
$lightbox-bg-color: #000000;
$lightbox-color: #ffffff;
$lightbox-close-bar: rgba(0,0,0,.4);
$lightbox-close-color: #ffffff;
$modal-wrapper-bg-color: #ffffff;
$modal-header-padding: 15px 30px;
$modal-header-border-bottom: 1px solid #e5e5e5;
$modal-close-btn-width: 60px;
$modal-close-btn-height: 100%;
$modal-close-btn-font-size: 20px;
$modal-close-btn-bg-color: transparent;
$modal-close-btn-color: $muted-hover;
$modal-body-padding: 30px 30px;
$modal-footer-padding: 15px 30px;
$modal-footer-border-top: 1px solid #e5e5e5;
$modal-footer-text-align: right;
$overlay-padding: 40px;
$pagination-item-nav-padding: 10px 20px;
$pagination-item-nav-color: $muted-color;
$pagination-item-nav-hover-color: $muted-hover;
$pagination-item-nav-active-color: $muted-hover;
$pagination-item-nav-arrows-font: FontAwesome;
$pagination-item-nav-prev-content: "\f053";
$pagination-item-nav-next-content: "\f054";
$progress-bar-height: 20px;
$progress-bar-border-radius: 5px;
$progress-bar-squared-border-radius: 0px;
$progress-bar-rounded-border-radius: 50px;
$progress-bar-bg-color: #848484;
$progress-bar-progression-text-align: center;
$progress-bar-progression-bg-color: $primary-color;
$progress-bar-progression-color: #ffffff;
$progress-bar-progression-font-size: 14px;
$tab-header-bg-color: transparent;
$tab-header-link-padding: 10px 20px;
$tab-header-link-text-transform: uppercase;
$tab-header-link-line-height: 20px;
$tab-header-link-color: #999;
$tab-header-link-hover-color: $muted-hover;
$tab-header-link-hover-bg-color: transparent;
$tab-header-link-active-color: $muted-hover;
$tab-header-link-active-bg-color: transparent;
$tab-header-link-disabled-color: $muted-color;
$tab-header-link-disabled-bg-color: transparent;
$tab-header-top-item-text-align: center;
$tab-header-top-border: 1px solid #efefef;
$tab-header-bottom-border: 1px solid #efefef;
$tab-header-bottom-item-text-align: center;
$tab-header-left-border: 1px solid #efefef;
$tab-header-left-item-text-align: right;
$tab-header-right-border: 1px solid #efefef;
$tab-header-right-item-text-align: left;
$tab-content-padding: 20px;
$tab-content-bg-color: transparent;
$table-text-align: left;
$table-th-padding: 15px 10px;
$table-th-font-weight: 700;
$table-th-text-transform: uppercase;
$table-td-padding: 15px 10px;
$table-divider-border: 1px solid #efefef;
$table-striped-bg-color: #f8f8f8;
$table-hover-bg-color: #f8f8f8;
$tooltip-font-size: 12px;
$tooltip-font-weight: 400;
$tooltip-padding: 0 10px;
$tooltip-line-height: 25px;
$tooltip-border-radius: 3px;
$tooltip-bg-color: $muted-hover;
$tooltip-color: #ffffff;